* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logocontainer {
    padding: 20px;
    background-color: #13131b;
}

.logo {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 36;
    color: rgb(255, 215, 142);
}

.logo .bigger {
    font-size: 1.2em;
    opacity: 0.7;
    margin: 0em -0.04em;
}

#app {
    padding: 20px;
}

#tableVowels,
#tableConsonantsPulmonic {
    border-collapse: collapse;
    font-size: 1.2em;
}

#tableVowels th,
#tableConsonantsPulmonic th {
    font-size: 0.8em;
    font-weight: bold;
    color: darkgray;
    text-align: left;
    padding: 4px 6px;
}

#tableVowels td,
#tableConsonantsPulmonic td {
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    border: 1px solid lightgray;
}

.place {
    text-align: center;
}

.manner {
    width: 300px;
}

#tableConsonantsPulmonic thead tr th {
    width: 100px;
    overflow: hidden;
}